service vendor.graphics.allocator-rk3399 /vendor/bin/hw/android.hardware.graphics.allocator-service.rk3399
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
